<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">

   
  </div>
  <div class="col-md-7">
    <p>{{post.title}}</p>
      <p>{{post.post_text}}</p>
      <p>{{post.date_created}}</p>       
      <p>By: {{user.username}}</p>   
      <p>{{comment.comment_text}}</p>  
  </div>
</div>
{{/each}}

<h1>HOMEPAGE!</h1>
