
<h3>Render a Post With It's Comments</h3>


<div>
     
</div>

{{#each comments as |comment| }}
<div class="row mb-4 project">
  <div class="col-md-5">
   
  </div>
  <div class="col-md-7">
      <p>{{post.title}}</p>
    <p>{{post.post_text}}</p>
    <p>{{comment.comment_text}}</p>
    <p>Authored By: User {{comment.user_id}}</p>
    <p>{{comment.id}}</p>
    
  </div>
</div>
{{/each}}