
<div>
  <h2>Welcome to your User Portal, {{username}}!
</div>

  {{#if posts}}

    {{#each posts as |post|}}

    <div class="card w-100" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><a href="/posts/{{id}}">{{title}}</a></h5>
        <p class="card-text">
          Post: {{post_text}}
        </p>
        <p class="card-text">
          {{#each comments as |comment|}}
          ---"{{comment_text}}"-{{data_id}}<br>
          {{/each}}
        </p>
      </div>
    </div>

  {{/each}} 

  {{else}}

  <div>
    <p>You have not yet created a post!</p>
  </div>

  {{/if}}


<script src="./js/profile.js"></script>
