
    <h1>You Are currently viewing "{{post.title}}" </h1>   
  {{#each posts as |post|}}
  <section class="card border border-dark">
    
    {{!-- <a href="/post/{{id}}"> --}}
     
      <header class="border-bottom border-dark w-100">

        <a  href="/posts/{{id}}">Topic: {{title}}</a>

      </header>
      <body class="border-bottom border-light">
        
        <p class="text-dark">Post:{{post_text}}</p>
        
        
      </body>
      <br>
      <footer>
        <div class="border-bottom border-dark">
        What People Are Saying About This Article:
        </div>
        
        {{#each comments as |comment|}}

        "{{comment_text}}"-{{user_id}}<br>
        <br>
        
        {{/each}}
        <br>
       

        

      </footer>
      
    {{!-- </a> --}}
  </section>
  
  {{/each}} 