
    <h1 style="color:white">You Are currently viewing "{{posts.title}}" </h1>   

    <p>{{posts.id}}</p>
 
  <section class="card border border-dark" style="background-color: rgb(187, 201, 226)">
    
      <div class="border-bottom border-gray w-100">

        <h5><a style="color: black"style="color: white" href="/posts/{{id}}">Title: {{posts.title}}</a></h5>

      </div>

      <div class="border-bottom border-light">

        <div class="border-top border-dark ">
        <h5>Article:</h5><p class="text-dark">{{posts.post_text}}</p>

           <div class="container-fluid">
           </div>
        </div>

        <h4>Most Recent Comments:</h4>
        {{#each posts.comments as |comment|}}
          <p>--"{{comment_text}}"<br></p>
        {{/each}}


        <form class="form-group" id="formCommentSubmit" >
              <textarea class="container-fluid w-50" post-id="{{id}}" id="comment_text" placeholder="Join the Discussion by Adding Your Comment Here"></textarea>
                <button class="btn btn-primary" id="commentsubmit">Submit Comment</button>
            </form>
      </div>

  </section>

 <script src="/js/comment.js"></script>
 
