
    <h1 style="color:white">You Are currently viewing "{{posts.title}}" </h1>   

    <p>{{posts.id}}</p>
 
  <section class="card border border-dark" style="background-color: rgb(187, 201, 226)">
    
    {{!-- <a href="/post/{{id}}"> --}}
     
      <header class="border-bottom border-dark w-100">

        <a style="color: white"style="color: white" href="/posts/{{id}}">Title: {{posts.title}}</a>

      </header>
      <body class="border-bottom border-light">
        
        <p class="text-dark">Post:{{posts.post_text}}</p>

        <div class="border-bottom border-top border-dark ">
        Join the Discussion!:
        </div>

        {{#each posts.comments as |comment|}}

        <p>{{comment_text}}-{{user_id}}<br>
        </p>
        <br>
        
        {{/each}}
        
        
      </body>
      <br>
      <footer>
        
        <div>

  

        
        <br>
        </div>
       

        

      </footer>
      
    {{!-- </a> --}}
  </section>
